.BoardList{
    margin-left: 91px;
}

.boardsList_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.BoardList > span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}